@using ECommerce.WebUI.Resources.Shared
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Demo Store : @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jcarousel")
        @Styles.Render("~/Content/bootstrap")
        @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />*@
       
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        <div id="header">
            <div id="userInfo">
                @Html.Partial("_LoginPartial")
                <br />
                @{ Html.RenderAction("Summary", "Cart"); }
            </div>

            <div class="title">@Html.ActionLink(SharedStrings.SiteName, "List", "Product")</div>
        </div>
        
        <div id="categories">
            @{ Html.RenderAction("Menu", "Nav"); }
        </div>

        <div id="content">
            @RenderBody()
        </div> 

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
